{% extends "base.html" %}

{% block content %}
    <h3>Music Runs through us all</h3>
    {% load static %}
    <img src="{% static 'img/main_pic.jpg' %}" alt="">
    <p>Nullsleep (born Jeremiah Johnson October 7, 1980) is an American electronic musician and computer artist currently residing in New York City.
        
    <br>In 1999 he co-founded the low-bit art collective 8bitpeoples, and has served as its lead director
    since its inception. He is best known for his high-energy Game Boy pop songs.Johnson graduated from the Fu Foundation<br>
    School of Engineering and Applied Science at Columbia University in 2003, where he studied computer science and music. <br>He uses Game Boys and NES consoles to create music.</p>
{% endblock  %}