{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nullsleep</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}/">
</head>
<body>
    {% include "headers.html" %}
    <div class="container">
        <div class="docs-section">
             {% block content %} {% endblock %}
        </div>
        
    </div>

    
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>