<div class="navbar-spacer"></div>
<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item">
                <a class="navbar-link" href="{% url 'website:home' %}">
                    {% load static %}
                    <img src="{% static 'img/nullsleep.gif' %}" alt="Logo" height="48px">
                </a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{% url 'website:home' %}">Home</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{% url 'website:music' %}">Music</a>
            </li>
            <li class="navbar-item">
                <a class="navbar-link" href="{% url 'website:contact' %}">Contact</a>
            </li>
            <!--<li class="navbar-item">
                <a class="navbar-link" href="#" data-popover="#moreNavPopover">All</a>
                <div id="moreNavPopover" class="popover">
                    <ul class="popover-list">
                        <li class="popover-item">
                            <a class="popover-link" href="https://github.com/dhg/Skeleton">On Github</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="https://github.com/dhg/Skeleton#browser-support">Browsers</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="https://github.com/dhg/Skeleton#license">License</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="https://github.com/dhg/Skeleton#extensions">Extensions</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="https://github.com/dhg/Skeleton/releases">Versions</a>
                        </li>
                        <li class="popover-item">
                            <a class="popover-link" href="https://github.com/dhg/Skeleton#colophon">Colophon</a>
                        </li>
                    </ul>
                </div>
            </li>-->
        </ul>
    </div>
</nav>